@charset "UTF-8";

html, body {
	margin: 0;
	padding: 0;
}

button {
	cursor: pointer;
	outline: none;
}

.point {
	color: #ff9f40;
}

.commonBtn {
	min-width: 80px;
	padding: 8px 14px;
	background: #ff9f40;
	color: #fff;
	border-radius: 4px;
	font-size: 20px;
}

.txt-c {
	text-align: center;
}
.txt-r {
	text-align: right;
}
.txt-l {
	text-align: left;
}

.mt10 {
	margin-top: 10px;
}
.mt40 {
	margin-top: 40px;
}