@charset "UTF-8";

html, body {
	margin: 0;
	padding: 0;
}

button {
	cursor: pointer;
	outline: none;
}

img {
	width: 190px;
	height: 190px;
	padding: 5px;
}

a { color: #fff; text-decoration: none; }
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }

.point {
	color: #ff9f40;
}

.commonBtn {
	min-width: 80px;
	padding: 8px 14px;
	background: #ff9f40;
	color: #fff;
	border-radius: 4px;
	font-size: 20px;
}

.clearfix {
	
}

.paging-wrap {
	width: 900px;
	height: 50px;
	margin: 0 auto;
	/* background: #242f46; */
	/* box-shadow: 3px 3px 14px 3px rgba(0,0,0,0.3); */
	padding: 0 50px;
	box-sizing: border-box;
	text-align: center;
}

.paging-wrap ul {
	list-style: none;
	display: inline-block;
	padding: 0;
}

.paging-wrap ul li {
	float: left;
	display: block;
	background-color: #242f46;
	width: 16px;
	height: 16px;
	padding: 8px;
	margin-left: 8px;
	margin-bottom: 4px;
	border-radius: 16px;
}

.paging-wrap ul .visit_page {
	background-color: #fff;
	border: 2px solid #242f46;
	width: 12px;
	height: 12px;
}

.paging-wrap ul li a {
	color: #fff;
	position: relative;
	top: -4px;
	font-weight: bold;
}

.paging-wrap ul .visit_page a {
	color: #242f46;
	top: -6px;
}

.txt-c {
	text-align: center;
}
.txt-r {
	text-align: right;
}
.txt-l {
	text-align: left;
}

.mt10 {
	margin-top: 10px;
}
.mt40 {
	margin-top: 40px;
}