@charset "UTF-8";

body{
	background-color: #f9f9f9;
}

.insert-form-wrap {
	overflow: hidden;
	width: 900px;
	height: auto;
	margin: 20px auto 0 auto;
	/* background: #242f46; */
	/* box-shadow: 3px 3px 14px 3px rgba(0,0,0,0.3); */
	padding: 30px 50px;
	box-sizing: border-box;
}

.insert-form-wrap .input-smarteditor {
	background-color: #fff;
}

.insert-form-wrap h1 {
	color: #ff9f40;
	font-size: 40px;
	text-align: center;
	font-weight: 600;
}

.insert-form-wrap h2 {
	color: #333;
	font-size: 28px;
	text-align: center;
	text-shadow: 1px 1px 2px #000;
}

.insert-form-wrap p {
	color: #ff9f40;
	text-align: center;
	font-size: 22px;
	margin-top: 80px;
}

.insert-form-wrap input[type="file"] {
	vertical-align: middle; 
	display: inline-block; 
	overflow: hidden;
	width: 80px;
	margin: 0;
	padding: 4px 7px;
	font-size: 16px;
	border-radius: 5px;
	background-color: #fff;
}

.insert-form-wrap #file_route {
	height: 20px;
	vertical-align: middle;
}

.insert-form-wrap .recipeTbTitle {
	width: calc(100% - 10px);
	margin-bottom: 10px;
}

.insert-form-wrap #addIngreBtn, 
.insert-form-wrap #delIngreBtn,
.insert-form-wrap #EditorSaveBtn {
	margin: 0;
	padding: 4px 7px;
	font-size: 16px;
	background-color: #fff;
	border-radius: 5px;
}

.insert-form-wrap #EditorSaveBtn {
	margin-top: 20px;
}

.insert-form-wrap #addIngre {
	margin: 10px 0;
}

.insert-form-wrap .ingredientTbName,
.insert-form-wrap .addIngDetail {
	height: 26px;
	vertical-align: top;
	padding-top: 2px;
}

.insert-form-wrap .addIngDetail {
	width: calc(100% - 280px);
}
